#news-sidebar .inner .title img {
	width:100%;
}

#news-sidebar .inner .title {
	margin-bottom:25px;
}

#news-sidebar .inner .box {
	margin-bottom:40px;
}

#news-sidebar .box-assuntos .text {
	border-bottom:1px solid #CCCCCC;
	margin-bottom:10px;
	padding-bottom:10px;
}

#news-sidebar .box-assuntos .text a {
	font-size:14px;
	color:#D7322F;
	
}

#news-sidebar .box-destaque .text {
	border-bottom:1px solid #cccccc;
	margin-bottom:10px;
	padding-bottom:10px;
}

#news-sidebar .box-destaque .text a{
	/*color:#D7322F;*/
        color: black;
	font-family:'museuSlab', Arial, Helvetica, sans-serif;
	font-size:14px;
}

#news-sidebar .box-destaque img{
	width:35%;
	border-radius:5px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

#news-sidebar .box-agenda #calendar {
	width:100%;
	margin-bottom:20px;
}

#news-sidebar .box-agenda #calendar .event{
	/*padding:27px 0;*/
	font-family:'museuSlab', Arial, sans-serif;
	color:#D7322F;
	font-size:13px;
	border:1px solid black;
	padding:20px 5px;
}
#news-sidebar .box-agenda #calendar .event:nth-of-type(1){
	border-bottom:none;
}

#news-sidebar .box-agenda #calendar .event-date{
	float:left;
	border-right:1px solid white;
	text-align:center;
	width:20%;
}

#news-sidebar .box-agenda #calendar .event-date .number{
	font-size:24px;
}

#news-sidebar .box-agenda #calendar .event-text{
	float:left;
	/*padding: 5px 20px 0;*/
	width:65%;
}

#news-sidebar .box-agenda a{
	color:#D7322F;
	font-size:15px;
	font-family:'museuSlam', Arial, Helvetica, sans-serif;
}

#news-sidebar .box-biblioteca img {
	width:100%;
}

#news-sidebar .box-biblioteca a{
	color:#D7322F;
	font-family:'museuSlab', Arial, Helvetica, sans-serif;
	font-size:15px;
}

#news-sidebar .box-saibamais img {
	width:100%;
}


@media screen and (max-width: 560px) {
	#news-sidebar {
		display:none;
	}
}