#wrapper-second-home {
  /*margin-top:30px;*/
}

#wrapper-second-home #banner-slide {
  margin-top: 32px;
}

#wrapper-second-home #banner-slide  .image
{
    /*max-width: 512px;*/
    max-width: 960px;
    height: 405px;
}

#wrapper-second-home #banner-slide .image  img{
    width:100%;
    height: 405px;
}

#wrapper-second-home #banner-slide .text  img{
  width:90%;
  height:auto;
}

#wrapper-second-home #banner-slide .text {
    /*position: absolute;*/
    top: 0;
    /*width: 45%;*/
    z-index: 999;
    /*margin-top:10px;*/
    width: 960px;
    padding-left: 30px;
    height: 45px;
    padding-top: 2px;
}

#wrapper-second-home #banner-slide  .text h2 {
    /*color:#333333;*/
    /*margin-bottom:36.5px;*/
    font-family: 'museoSlab', Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

#wrapper-second-home #banner-slide  .text p {
  color:#606060;
  font-size:14px;
  /*line-height:120%;*/
}

.RevisaoInstrumentos
{
    background-color: #C81400;
}

.ArcoFuturo
{
    background-color: #EA5600;
}

.CentroDialogoAberto
{
    background-color: #00AEEB;
}

.TerritoriosCeu
{
    background-color: #FFCC01;
}

.ProjetosEspeciais
{
    background-color: #C14292;
}

#wrapper-second-home #banner-slide  .toolbar-links {
    width: 100%;
    text-align: center;
    background: url("../images/bg-nav.png") repeat-x scroll center top transparent;
    /*margin: 30px 0  0;*/
    padding: 30px 0 0;
}

#wrapper-second-home #banner-slide  .toolbar-links ul {
    margin:0 auto;
}

#wrapper-second-home #banner-slide  .toolbar-links ul li {
    display: inline-block;
    width: 205px;
    /*height: 205px;*/
    margin:0 15px;
}
#wrapper-second-home #banner-slide  .toolbar-links ul li a {
    width: 205px;
    /*height: 205px;*/
    float: left;
}
#wrapper-second-home #banner-slide  .toolbar-links ul li a img{
    margin: 30px 20px;
    width: 135px;
}

#wrapper-second-home #banner-slide  .toolbar-links ul li a:hover {
    background: url("../images/hover-chamada.png") no-repeat top left transparent;
}

#wrapper-second-home .bjqs-markers {
  display:none;
}

@media screen and (max-width: 1060px) {
  ul.bjqs-controls {
    /*display:none;*/
  }
}

@media screen and (max-width: 750px) {
  #wrapper-second-home #banner-slide  .image {
    display:none;
  }
  #wrapper-second-home #banner-slide  .text {
    width:auto;
    position:static;
  }

  #wrapper-second-home #banner-slide  .text img{
    width:auto;
    margin:auto;
  }
}

/*
 * Corrigir problema do plugin
 */
#wrapper-second-home #banner-slide, li.bjqs-slide,ul.bjqs, #banner-slide .bjqs-wrapper {
  height:auto !important;
}

#wrapper-third-home h1 {
  margin-top:60px;
  color: #000;
  border-bottom: 1px solid #ddd;
}

#wrapper-third-home #titulo_noticias
{
    margin-top: 60px;
    border-bottom: 1px solid #E6E6E6;
}

#wrapper-third-home #titulo_noticias #logo_noticias
{
    margin-top: -12px;
    margin-bottom: 15px;
}

#wrapper-third-home #newsletter
{
    float: right;
    font-family: 'museoSlab', Arial, sans-serif;
    font-size: 12px;
    width: 480px;
}

#wrapper-third-home #newsletter label
{
    /*width: 97px;*/
    width: 180px;
    padding-right: 10px;
    padding: 10px;
    margin-top: 10px;
    vertical-align: middle;
}

#wrapper-third-home #register-newsletter-box
{
    /*width: 199px;*/
    width: 335px;
    padding-left: 10px;
    margin-top: -5px;
}

#wrapper-third-home #newsletter input[type="submit"]
{
    width:39px;
    height:31px;
    /*background:#d7322f;*/
    background: #B6B6B4;
    color:white;
    border:none;
    margin:0;
    cursor:pointer;
    margin-left: 10px;
}

#wrapper-third-home #newsletter input[type="text"]
{
    /*width:134px;*/
    width: 260px;
    height:12px;
    /*border:1px solid #e2e2e2;*/
    border:1px solid #E6E6E6;
    /*color:#d7322f;*/
    font-size: 12px;
    padding: 9px 12px;
    margin:0;
}

#wrapper-third-home .top-news {
  width:100%;
  margin-bottom:60px;
  margin-top:60px;
}

#wrapper-third-home .top-news  .image{
  float:left;
  margin-right:26px;
}

#wrapper-third-home .top-news  .image img{
    height:auto;
}

#wrapper-third-home .news-date{
  font-size: 14px;
  color: #666;
  font-family: 'museoSlab', Arial, sans-serif;
  font-weight: bold;
}

#wrapper-third-home .top-news .news-title{
  font-size: 20px;
  color: #000;
  font-family: 'museoSlab', Arial, sans-serif;
  margin: 5px 0;
  font-weight: bold;
}

#wrapper-third-home .top-news .news-text{
  font-size: 14px;
  margin-top: 7px;
  color: #000;
  font-weight: bold;
  letter-spacing: 0px;
}

/* cor da barra lateral das noticias top */
#wrapper-third-home .top-news .newsRevisaoInstrumentos{
  border-left: 7px solid red;
}

.taxonomy-breadcrumb{
  float: right;
}

.taxonomy-breadcrumb.left{
  float: left;
}

.taxonomy-breadcrumb .float {
  float: left;  
}

.taxonomy-breadcrumb .breadcrumb-text{
  margin-right: 4px;
}

.taxonomy-breadcrumb .breadcrumb-border{
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  float: left;
}

.taxonomy-breadcrumb .breadcrumb-border-next {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  float: left;
  margin-top: 5px;
}

.taxonomy-breadcrumb .breadcrumb-first{
  height: 39px;
  float: left;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-right: 9px;
}

.taxonomy-breadcrumb .breadcrumb-first a{
  color: #fff;
  font-size: 15px;
  font-family: 'museoSlab', Arial, sans-serif;
  line-height: 2.5;
  font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}

.taxonomy-breadcrumb .breadcrumb-next{
  height: 27px;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 5px;
  padding-right: 9px;
}

.taxonomy-breadcrumb .breadcrumb-next a{
  color: #fff;
  font-size: 12px;
  font-family: 'museoSlab', Arial, sans-serif;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}

#wrapper-third-home .bottom-news {
  border-top: 1px solid #ddd;
}

#wrapper-third-home .bottom-news .news{
  width:30%;
  float:left;
}

/* cor da barra lateral das noticias bottom */
#wrapper-third-home .bottom-news .newsRevisaoInstrumentos
{
    /*border: 1px solid black;*/
    border-left: 7px solid #C81400;
    /*width: 50px;*/
    height: 90px;
}

/* cor da barra lateral das noticias bottom */
#wrapper-third-home .bottom-news .newsArcoFuturo
{
    /*border: 1px solid black;*/
    border-left: 7px solid #EA5600;
    /*width: 50px;*/
    height: 90px;
}

/* cor da barra lateral das noticias bottom */
#wrapper-third-home .bottom-news .newsCentroDialogoAberto
{
    /*border: 1px solid black;*/
    border-left: 7px solid #00AEEB;
    /*width: 50px;*/
    height: 90px;
}

/* cor da barra lateral das noticias bottom */
#wrapper-third-home .bottom-news .newsTerritoriosCeu
{
    /*border: 1px solid black;*/
    border-left: 7px solid #FFCC01;
    /*width: 50px;*/
    height: 90px;
}

/* cor da barra lateral das noticias bottom */
#wrapper-third-home .bottom-news .newsProjetosEspeciais
{
    /*border: 1px solid black;*/
    border-left: 7px solid #C14292;
    /*width: 50px;*/
    height: 90px;
}

#wrapper-third-home .bottom-news .news:nth-of-type(2){
  padding:0 30px;
  width:33%;
}

#wrapper-third-home .bottom-news .news-title{
  /*border: 1px solid black;*/
  /*font-size: 18px;*/
  font-size: 27px;
  color: #000;
  font-family: 'museoSlab', Arial, sans-serif;
  /*margin: 5px 0;*/
  margin: -5px 0px -5px 0px;
  font-weight: bold;
  line-height: 32px;
}

#wrapper-third-home .bottom-news .news-text{
  /*border: 1px solid black;*/
  font-size: 14px;
  margin-top: 25px;
  color: #000;
  font-weight: bold;
  line-height: 1.3;
}

#wrapper-third-home #see-all-news {
  font-size:0;
  height:14px;
  background:url(../images/bar-see-all-news.png) no-repeat center center;
  margin:37px 0 0;
}

@media screen and (max-width: 560px) {
  #wrapper-third-home .top-news  .image{
    float:none;
    width:100%;
    margin:0 0 30px;
  }
  #wrapper-third-home .top-news  .image img{
    width:100%;
    height:auto;
  }
  #wrapper-third-home .bottom-news  {
    display:block;
  }

  #wrapper-third-home .bottom-news  .news{
    width:100%;
    display:block;
  }

  #wrapper-third-home .bottom-news .news:nth-of-type(2){
    padding:30px 0;
    width:100%;
  }
}

#red-area {
  background:url(../images/bg-area-cinza.jpg);
  padding:100px 0;
  margin-top:75px;
}

#red-area #wrapper-fourth-home > .left, #red-area #wrapper-fourth-home > .right{
  width:410px;
}

#red-area #wrapper-fourth-home h1 {
  color:#000000;
}

#red-area #wrapper-fourth-home h3 {
  color:#000000;
  font-size:14px;
  margin-top: 6px;
  font-weight: bold;
}

#red-area #wrapper-fourth-home > .left, #red-area #wrapper-fourth-home > .right {
  position:relative;
  height: 345px;
}

#red-area #wrapper-fourth-home >.left #calendar {
  width:100%;
  /*background:url(../images/bg-red-area-left-calendar.png) no-repeat top left;*/
  margin-bottom:30px;
  min-height: 92px;
}

#red-area #wrapper-fourth-home > .left #calendar .event{
  padding:27px 0;
  font-family:'museoSlab', Arial, sans-serif;
  color:white;
  font-size:13px;
  color: #000;
}

#red-area #wrapper-fourth-home > .left #calendar .event-date{
  float: left;
  font-size: 23px;
  width: 100%;
  color: #000;
  padding-bottom: 6px;
}

#red-area #wrapper-fourth-home > .left #calendar .event-date .number{
  font-size:24px;
}

#red-area #wrapper-fourth-home > .left #calendar .event-text{
  float: left;
  width: 100%;
  color: #666;
  font-size: 18px;
  padding-bottom: 12px;
}

#red-area #wrapper-fourth-home .see-all-events{
  font-size:15px;
  color:white;
  position: absolute;
  bottom:-30px;
  color: #666;
}

#red-area #wrapper-fourth-home >.right .library-icons{
  width:33%;
  float:left;
}

#red-area #wrapper-fourth-home >.right .icons-left{
  text-align:left;
}

#red-area #wrapper-fourth-home >.right .icons-middle{
  text-align:center;
}

#red-area #wrapper-fourth-home >.right .icons-right{
  text-align:right;
}

@media screen and (max-width: 885px) {
  #red-area #wrapper-fourth-home >.left, #red-area #wrapper-fourth-home >.right {
    float:none;
    margin: 0 auto;
  }

  #red-area #wrapper-fourth-home >.right  {
    margin-top:30px;
  }
}

@media screen and (max-width: 539px) {

  #red-area #wrapper-fourth-home .see-all-events{
    font-size:15px;
    color:white;
    position:static;
    bottom:none;
  }

  #red-area #wrapper-fourth-home >.left, #red-area #wrapper-fourth-home >.right {
    width:100%;
  }

  #red-area #wrapper-fourth-home >.left #calendar {
    background:none;
  }
  #red-area #wrapper-fourth-home > .left #calendar .event{
    border:1px solid black;
  }
  #red-area #wrapper-fourth-home > .left #calendar .event-text{

  }

  #red-area #wrapper-fourth-home >.right .library-icons {
    margin-bottom:30px;
  }

  #red-area #wrapper-fourth-home >.right .library-icons img{
    width:100%;
  }
}

#wrapper-fifth-home {
  margin-top:100px;
}

#wrapper-fifth-home .social-box{
  width:311px;
  height:417px;
  background:url(../images/bg-social-box.png);
  float:left;
  margin-top:40px;
  position:relative;
}

#wrapper-fifth-home .social-box:nth-of-type(2){
  margin:40px 13px 0;
}

#wrapper-fifth-home .social-box .social-inner{
  padding: 40px 30px 0;
}

#wrapper-fifth-home .social-box .social-inner h3{
  font-size:15px;
  color:#d7322f;
  margin:20px 0;
}

#wrapper-fifth-home .social-box .social-link a{
  font-size:15px;
  font-family: 'museoSlab', Arial, Helvetica, sans-serif;
  color:#d7322f;
}
#wrapper-fifth-home .social-box .social-link{
  position:absolute;
  bottom: 30px;
  left: 30px;
}

#wrapper-fifth-home .social-box .twitter-row {
  height:100px;
  font-size:13px;
  line-height: 16px;
}

#wrapper-fifth-home .social-box .twitter-row a{
  color:#D7322F
}

#wrapper-fifth-home .social-box .twitter-row .twitter-links
{
  color:#D7322F;
  font-size:11px;
}

@media screen and (max-width: 1030px) {
  #wrapper-fifth-home .social-box, #wrapper-fifth-home .social-box:nth-of-type(2){
    margin:40px 3px 0;
  }
}

/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

/*ul.bjqs-controls.v-centered li a{position:absolute;top: 475px !important;}*/
ul.bjqs-controls.v-centered li a
{
    position: absolute;
    top: 405px !important;
}

ul.bjqs-controls.v-centered li.bjqs-next a
{
    right:0;
    /*margin-right:-50px*/
    /*height: 45px;*/
    width: 20px;
    text-align: center;
    border: 0px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a
{
    left:0;
    /*margin-left:-50px*/
    /*height: 45px;*/
    width: 20px;
    text-align: center;
    border: 0px;
}

ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}