#library .inner h1 {
    margin-bottom: 35px;
	float:left;
}

#library .inner ul {
	float:right;
}

#library .inner ul li {
	display:inline-block;
	margin-left:25px;
}

#library #arquivo-biblioteca {
    float: right;
    margin: 10px 0 0;
}

#library .input {
    background: none repeat scroll 0 0 #d3252d;
    float: right;
    margin: 10px 0;
    padding: 7px 15px;
}
#library .input label,
#library .input input{
    color: #D7322F;
    font-family: 'museoSlab',Arial,Helvetica,sans-serif;
    font-size: 14px;
}
#library .input label {
    color: #fff;
    margin: 0 5px 0 0;
    line-height: 20px;
}
#library .nav-bar {
    clear: both;
    display: block;
    height: 60px;
    margin: 0 auto 40px auto;
    width: 735px;
}
#library .nav-bar ul {
    margin:0;
}

#library .inner .box {
	width:226px;
	height:226px;
	float:left;
	margin-right:16px;
	margin-bottom:16px;
	border:1px solid #cccccc;
	background:white;
}

#library .inner .boxes {
    margin-left:0;
}
#library .inner .boxes .box {
    margin-left:0;
}
#library .inner .boxes .box:nth-of-type(4n) {
	margin-right:0;
}

#library .inner .box img.hover{
	display:none;
}

#library .inner .box a{
	color: #d3252d;
	vertical-align: top;
}

#library .inner .box:hover {
	background: #d3252d;
}

#library .inner .box:hover a{
	color:white;
}

#library .inner .box:hover img.hover{
	display:inline;
}

#library .inner .box:hover img.normal{
	display: none;
}

#library .inner .box .inner-box {
	padding:25px 20px;
}

#library .inner .box .inner-box h5{
	margin-top:35px;
}
#library .inner .modo-lista .box {
	width: 900px;
	height: 30px;
	padding:15px;
	display:inline-block;
}
#library .inner .modo-lista .box .inner-box {
	margin:0;
	padding:0;

}
#library .inner .modo-lista .box .inner-box h5 {
	display:inline-block;
	margin:5px 0 0 30px;
	vertical-align: top;

}
@media screen and (max-width: 539px) {

  #library .inner ul {
    margin-bottom:30px;
  }

  #library .inner .box {
    width:168px;
    height:168px;
    margin-right:5px;
  }
  #library .inner .boxes .box:nth-of-type(2n) {
    margin-right:0;
  }

  #library .inner .box .inner-box {
    padding: 10px 10px;
  }
  #library .inner .box .inner-box h5 {
    margin-top: 10px;
    font-size: 14px;
  }
}
