#news .left
{
	width:70%;
}

#news .right
{
	width:30%;
}

#news .left .inner {
	margin-right:15px;
}

#news .right .inner {
	margin-left:15px;
}

#news .news-date {
	font-family:'museuSlab', Arial, Helvetica, sans-serif;
	/*color:#d7322f;*/
        color: #333333;
	font-size:12px;
}

#news h3, #news h4{
	/*color:#D7322F;*/
        color: #333333;
}

#news h3 {
	margin:15px 0 30px;
}

#news h4 {
	margin:15px 0 30px;
}

#news .left .big-text, #news .left .text {
	border-bottom:1px solid #CCCCCC;
	margin-bottom:40px;
	padding-bottom:40px;
}

#news .left .big-text img {
	width:100%;
	border-radius:5px;
        height: 100%
}

#news .left .big-text span a
{
    color: #333333;
}

#news .left .text img{
	width:30%;
	height:auto;
	float:left;
	margin:0 20px 20px 0;
	border-radius:5px;
}

#news .left .text span a
{
    color: #333333;
}

#news .left .inner-text p {
	color:#333333;
}

#news .pages .prev {
	float:left;
}
#news .pages .next {
	float:right;
} 
#news .pages .prev a,  #news .pages .next a{
	/*color:#D7322F;*/
        color: #333333;
	font-size:15px;
	font-family:'museuSlam', Arial, Helvetica, sans-serif;
} 


@media screen and (max-width: 560px) {
	#news .left {
		float:none;
		width:100%;
	}
	
	#news .left .inner {
		margin:0;
	}
}