#news-inner .left
{
	width:70%;
}

#news-inner .right
{
	width:30%;
}

#news-inner .left .inner {
	margin-right:15px;
}

#news-inner .left .inner .menu-do-projeto
{
    padding: 16px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'museoSlab', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

#news-inner .left .inner .menu-do-projeto a
{
    font-family: 'museoSlab', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

#news-inner .left .inner .menu-do-projeto span
{
    font-family: 'museoSlab', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

#news-inner .right .inner {
	margin-left:15px;
}

#news-inner .news-date {
	font-family:'museuSlab', Arial, Helvetica, sans-serif;
	color:#d7322f;
	font-size:12px;
}

#news-inner .text h3, #news-inner .text h4{
	/*color:#D7322F;*/
}

#news-inner h3.titulo {
	margin:15px 0 30px;
}

#news-inner h4 {
	margin:15px 0 30px;
}

#news-inner .left .text img {
	max-width:100%;
}

#news-inner .left .text .subtitle {
	font-size:15px;
}

#news-inner .left .text .social {
	margin:25px 0;
}

#news-inner .left .text .author {
	font-size:12px;
	margin-bottom:25px;
}

#news-inner .left .text .alignleft {
	float:left;
	margin:0 20px 20px 0;
}

#news-inner .left .text .alignright {
	float:right;
	margin:0 0 20px 20px;
}

#news-inner .left .text .aligncenter {
	float:none;
	display:block;
	margin:0 auto;
}

#news-inner .left .text .caption-text {
	font-size:13px;
	background:url(images/bg-news-caption-text.png) left top no-repeat;
	padding-left:45px;
	line-height: 15px;
}

#news-inner .left .text .also-read {
	width:47%;
	float:left;
	margin:20px 20px 20px 0;
}

#news-inner .left .text .also-read li {
	border-top:1px solid #CCCCCC;
	padding:15px 0;
}

#news-inner .left .tags {
	color:#D7322F;
	font-family:'museuSlab', Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #CCCCCC;
	border-left: 0;
	border-right:0;
	padding:15px;
	margin-top:10px;
}

#news-inner .left .see-also {
	margin-top:50px;
}

#news-inner .left .see-also ul {
	margin-top:15px;
}

#news-inner .left .see-also ul li {
	width:33%;
	display:inline-block;
}

#news-inner .left .see-also ul li img{
	border-radius:5px;
}

#news-inner .left .see-also ul li:nth-of-type(2) {
	text-align:center;
}

#news-inner .left .see-also ul li:nth-of-type(3) {
	text-align:right;
}

#news-inner .left .see-also .subtitle {
	text-align:left;
	width:190px;
	display: inline-block;
}

#news-inner .left .comments {
	margin-top:75px;
}

#news-inner .left .comments .comment {
	border-top:1px solid #CCCCCC;
	margin-top:25px;
	padding-top:25px;
}

#news-inner .left .comments .comment .name {
	font-family:'museoSlab', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:25px;
}
#news-inner .left .comments .comment .date {
	font-size: 12px;
}

#news-inner .left .comments .comment .text {
	margin:20px 0;
}

#news-inner .left .comment-form {
	margin-top:30px;
}

#news-inner .left .comment-form input[type="text"],
#news-inner .left .comment-form textarea {
	padding:5px;
	width: 100%;
}

#news-inner .left .comment-form textarea {
	height:100px;
}

#news-inner .left .comment-form input[type="submit"] {
	background:none;
	border:none;
	color:#D7322F;
	font-size:15px;
	font-family:'museoSlab', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 560px) {
	#news-inner .left {
		float:none;
		width:100%;
	}

	#news-inner .left .inner {
		margin:0;
	}

	#news-inner .also-read {
		display:none;
	}

	#news-inner .left .text .aligncenter,
	#news-inner .left .text .alignleft,
	#news-inner .left .text .alignright {
		float:none;
		display:block;
		margin:0 auto;
	}
}


article.comment {
  margin-bottom:25px;
}

article.comment .avatar {
  display:none;
}

article.comment .comment-author {
  font-weight: bold;
}
